.about-hero {
  position: relative;
  background: linear-gradient(120deg, #ff3b3b90, #514444c0),
    center / cover no-repeat;

  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.about-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  /* background: linear-gradient(135deg, #ad2e3b 40%, #707070 115%); */
}

.about-hero-content {
  position: relative;
  z-index: 1;
  max-width: 700px;
  padding: 0 20px;
}

.about-hero-content h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.about-hero-content p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #e0e0e0;
}

.clients-wrapper {
  padding: 60px 20px;
  text-align: center;
  margin-top: 1%;
}

.clients-heading {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.clients-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  max-width: 1200px;
  margin: 0 auto;
}

.client-card {
  background: #fff;
  border: 1px solid #e1e1e1;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
}

.client-logo {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.clients-cta {
  background: red;
  color: white;
  margin-top: 40px;
  padding: 14px 30px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 6px;
  transition: 0.3s;
}

.clients-cta:hover {
  background: #cc0000;
}

/* Responsive */
@media (max-width: 768px) {
  .clients-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .client-name {
    font-size: 15px !important;
  }
}

@media (max-width: 500px) {
  .clients-grid {
    grid-template-columns: 1fr;
  }
}

.client-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.client-name {
  font-size: 18px;
  font-weight: 500;
  color: #e23333;
  text-align: center;
  margin-top: 6%;
}
