.bookcar-section {
  background: #fff;
  padding: 60px 20px 80px;
  text-align: center;
}

.bookcar-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
}

.red-black {
  color: #ff3b3b;
}

.bookcar-form {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Grid structure */
.form-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.phone-group {
  display: flex;
  gap: 10px;
}
.phone-group select {
  width: 25%;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.phone-group input {
  width: 75%;
}

/* Inputs & Textareas */
.bookcar-form input,
.bookcar-form select,
.bookcar-form textarea {
  padding: 15px 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  width: 100%;
  outline: none;
  transition: all 0.3s ease;
  background-color: #fff;
  color: #636363;
}

.phone-group select {
  width: 25%;
}

#travel-input {
  display: block;
}

.bookcar-form input:focus,
.bookcar-form select:focus,
.bookcar-form textarea:focus {
  border-color: #ff3b3b;
  box-shadow: 0 0 6px rgba(255, 59, 59, 0.2);
}

/* Single field row (travellers) */
.form-row:last-of-type {
  grid-template-columns: 1fr;
}

textarea {
  resize: none;
  min-height: 100px;
}

/* Footer section */
.form-footer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  text-align: left;
  margin-top: 10px;
}
.terms {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  font-size: 14px;
  color: #333;
}

.terms input[type="checkbox"] {
  width: unset !important;
}

.terms a {
  color: #ff3b3b;
  text-decoration: none;
  font-weight: 600;
}
.terms a:hover {
  text-decoration: underline;
}

/* Button */
.submit-btn {
  background: linear-gradient(90deg, #d40000, #a60000);
  color: #fff;
  border: none;
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 99px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.submit-btn:hover {
  background: #e03434;
}

/* Mobile responsiveness */
@media (max-width: 992px) {
  .form-row {
    grid-template-columns: 1fr;
  }
  .submit-btn {
    align-self: center;
    align-self: center;
    font-size: 11px;
    padding: 5px 15px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .why-card {
    width: 100% !important;
  }

  .about__grid {
    display: flex;
    flex-direction: column;
  }

  .about__imagewrap {
    height: auto;
    width: 100%;
  }

  .about__image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: auto;
  }

  .hero {
    height: 40vh;
    background: url(/hm.png) center / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 6%;
  }

  .hero h1 {
    font-size: 3rem;
  }
}
